.sidebar {
    position: absolute;
    width: 317px;
    height: 1000px;
    transition-duration: 500ms;
    transform: translate(-317px);
    background: #FFFFFF;
    box-shadow: 0 10px 40px rgba(29, 33, 38, 0.13), 0 1px 2px rgba(29, 33, 38, 0.1);
    z-index: 1;
}

.sidebar.open {
    transition-duration: 500ms;
    transform: translate(0px);
    background: #FFFFFF;
    box-shadow: 0 10px 40px rgba(29, 33, 38, 0.13), 0 1px 2px rgba(29, 33, 38, 0.1);
}

.background {
    background-color: rgba(0,0,0, 0.1);

}

.nav {
    display: inline-block;
    height: 171px;
    width:140px;
    position: relative;
    top: 63px;
    left:70px;
}
.junior {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    position: absolute;
    top: 72px;
    left: 0;
    width: 72px;
    height: 27px;
}
.preJunior {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    position: absolute;
    top: 0;
    left: 0;
    width: 114px;
    height: 27px;
}
.juniorPlus {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 138px;
    height: 27px;
}


.nav a {
    text-decoration: none;
    color: black;
}

.nav a:hover {
    color: yellow;
}

.nav a.active {
    color: #B31232;

}

.close {
    position: absolute;
    top: 22px;
    right: 30px;
    width: 24px;
    height: 24px;
    border:none;
    background-color: rgba(0,0,0,0);
}

.close img {
    position: relative;
    width: 20px;
    height: 20px;
}


