.sidebar {

}

.sidebar.open {
    background-color: #00cc22;
}

.background {
}

.nav {

}

.nav a {
text-decoration: none;
    color: blue;
}

.nav a:hover {
color: yellow;
}

.nav a.active {
color: #B31232;

}

.close {
}

.close img {
}


